main{
  padding-top: 15vh;
  min-height: 100vh;
  margin-inline: 5vw;
  margin-bottom: 200px;

  #landing-page {
    section {
      margin-block: 20px;
    }
  }

  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

.showMap {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: black;
  color: white;

}
.container-with-map {
  flex-grow: 1;
  background-color: black;
  color: white;
  margin-left: 150px;

}
.mapView {
  // width: 80%;
  margin: 284, 80, 10, 80;
  
}

.result-view {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
  background-color: black;
  color: rgb(208, 72, 241)
}
.whats-hot {
  font-weight: bold;
  font-size: x-large;
  margin: 1rem;
}

.result-view {
  background-color: rgba(241, 10, 10, 0.034);
}

// .map-result {
//   color:rgb(208, 72, 241);
// }

.map-result :hover {
  background-color:  rgb(208, 72, 241);
  // border: thick double #32a1ce;
  cursor: pointer;
}

.poll-titre {
  display: flex;
  // justify-content: center;
  margin-left: 30px;
  font-size: large;
  font-weight: 700;
}

.host-by {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 10px;
}

.host-name {
  color:rgb(208, 72, 241);
  font-weight: bold;
}

.poll-total-vote {
  display: flex;
  gap: 10px;
}
.poll-positive  {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}

.poll-negative {
  display: flex;
  // justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
  gap: 20px;
}

