main{
  margin-top:10vh;
  background-color: black;

  #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
}

.showMap {
  display: flex;
  flex-direction: row;
}

.arcmap {
  weight: 2em;
  height: 2em;
}
.container {
  background-color: black;
  color: white;

}
.container-with-map {
  flex-grow: 1;
  background-color: black;
  color: white;
  margin-left: 150px;

}
.mapView {
  // width: 80%;
  margin: 284, 80, 10, 80;
  
}

.result-view {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
  background-color: black;
  color: rgb(208, 72, 241)
}
.whats-hot {
  font-weight: bold;
  font-size: x-large;
  margin: 1rem;
}

.result-view {
  background-color: rgba(241, 10, 10, 0.034);
}
